# Ignore generated data
components/custom/smtp/config/**
components/smtp/config/**

# Ignore keycloak Themes links as volume
components/custom/keycloak_ha_mysql/themes

# Ignore database data
components/db/data/**

# Ignore smtp user data
components/smtp/users.dat
