# Ignore generated data
components/smtp/config/**

# Ignore keycloak Themes links as volume
components/keycloak/keycloak_ha/themes

# Ignore generated keycloak files export
components/keycloak/export/files

# Ignore database data
components/db/data/**

# Ignore smtp user data
components/smtp/users.dat
