version: '2'

services:
  keycloak_db:
    image: mysql
    container_name: keycloak_db
    env_file:
      - ./env/common.env
      - ./env/mysql.env
    volumes:
      - ./components/db/data/mysql:/var/lib/mysql
      - ./components/db/modifications/mysql:/tmp/mysqlmod
    networks: 
      - keycloak_net
  
  keycloak:
    build: components/keycloak/keycloak_ha
    container_name: keycloak
    depends_on:
      - keycloak_db
    env_file:
      - ./env/common.env
      - ./env/keycloak.env
    ports:
      - "8181:8080"
    links:
      - keycloak_db
    #volumes:
    #  - ./components/keycloak/keycloak_ha/themes:/opt/jboss/keycloak/themes
    networks: 
      - keycloak_net
  
  smtpserver:
    image: tvial/docker-mailserver:latest
    hostname: smtpserver
    domainname: universiaid
    container_name: smtpserver
    volumes:
      - maildata:/var/mail
      - mailstate:/var/mail-state
      - ./components/smtp/config:/tmp/docker-mailserver/
    env_file:
      - ./env/smtpserver.env
    cap_add:
      - NET_ADMIN
      - SYS_PTRACE
    networks: 
      - keycloak_net

  dkr:
    build: components/util/docker_wait
    container_name: keycloak_dbupdater
    privileged: true
    depends_on:
      - keycloak
    working_dir: "/dkr"
    volumes:
      - ".:/dkr"
      - "/var/run/docker.sock:/var/run/docker.sock"
    command: bash -c "/tmp/wait-for-it.sh -t 60 keycloak:8181 -- echo 'Keycloak started!' && docker exec keycloak_db sh -c 'mysql -uroot -proot_password keycloak < /tmp/mysqlmod/db_changes.sql'"
    networks: 
      - keycloak_net

  #keycloak_examples:
    #build: components/keycloak_demos
    #container_name: keycloak_examples
    #ports:
      #- "8080:8080"
    #networks: 
      #- keycloak_net

volumes:
  maildata:
    driver: local
  mailstate:
    driver: local

networks:
  keycloak_net:
    driver: bridge
